README.md

{{ if eq .chezmoi.os "windows" -}}
# Unix-like files - ignore on Windows
.zprofile
.zshenv
.zshrc
.config/
{{- end }}

{{ if ne .chezmoi.os "darwin" -}}
# macOS specific files - ignore on non-macOS systems
.hammerspoon/
{{- end }}

{{ if ne .chezmoi.os "linux" -}}
# Linux specific files - ignore on non-Linux systems
.local/share/applications/
{{- end }}

{{ if ne .chezmoi.os "windows" -}}
# Windows specific files - ignore on non-Windows systems
Documents/
.local/share/win-startup/
{{- end }}
