#!/bin/zsh

# XDG base directories.
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

{{ if eq .chezmoi.os "darwin" -}}
# Initialize Homebrew env
eval "$(/opt/homebrew/bin/brew shellenv)"

# load swiftly environment
source "/Users/duky8n/.swiftly/env.sh"
{{- end }}
