{{ if eq .chezmoi.os "windows" -}}
$startupDir = [Environment]::GetFolderPath("Startup")
$cmdPath = Join-Path $startupDir "chezmoi-startup.cmd"

$cmd = @"
@echo off
powershell.exe -NoProfile -ExecutionPolicy Bypass -File "%USERPROFILE%\.local\share\win-startup\win-startup-launcher.ps1"
"@

Set-Content -Path $cmdPath -Value $cmd -Encoding ASCII
{{- end }}
