#!/bin/bash
set -euo pipefail

# Homebrew
if ! command -v brew >/dev/null; then
  printf "\nHomebrew not found. Installing Homebrew...\n"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  printf "\nHomebrew found. Continuing...\n"
fi

eval "$(/opt/homebrew/bin/brew shellenv)"

# Oh-My-Zsh
if [ ! -d "$HOME/.oh-my-zsh" ]; then
  printf "\nOh-My-Zsh not found. Installing Oh-My-Zsh...\n"
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
else
  printf "\nOh-My-Zsh found. Continuing...\n"
fi

# Brewfile
printf "\nSyncing Homebrew packages...\n"
brew bundle --verbose --file="{{ .chezmoi.sourceDir }}/Brewfile"
