#!/bin/bash
apps=(
  "raycast"
  "ice"
  "flow"
  "adguard"
  "amphetamine"
  "hammerspoon"
  "cleanshot x"
  "betterdisplay"
  "itsycal"
  "deepl"
  "mission control plus"
  "hazeover"
  "typibara"
  "lookupper"
  "klack"
)

for app in "${apps[@]}"; do
  open -a "$app" || echo "⚠️  $app not found"
done

for app in "${apps[@]}"; do
  [[ -d "/Applications/${app}.app" ]] || continue
  /usr/bin/osascript <<EOF
tell application "System Events"
  make login item at end with properties { \
    name:"${app}", \
    path:"/Applications/${app}.app", \
    hidden:false}
end tell
EOF
done

# Window drag enabled: cmd + ctrl + click anywhere on window
defaults write -g NSWindowShouldDragOnGesture -bool true
