window-rule {
    geometry-corner-radius 9
    clip-to-geometry true
}

window-rule {
    match app-id="Raindrop.io"

    default-column-width { proportion 0.33333; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"

    open-floating true
}

window-rule {
    match app-id=r#"^chrome-"#

    focus-ring {
        width 2
        active-color "#cba6f7"
        inactive-color "#cba6f780"
    }
}

window-rule {
    match app-id=r#"^chrome-devdocs"#
    match app-id=r#"^chrome-chat\.openai"#
    match app-id=r#"^chrome-music\.youtube"#
    match app-id=r#"^chrome-translate\.google"#
    match app-id=r#"^chrome-moodist\.mvze"#

    open-floating true
    default-column-width { fixed 350; }
    default-window-height { fixed 650; }

    focus-ring {
        width 2
        active-color "#cba6f7"
        inactive-color "#cba6f780"
    }
}

window-rule {
    match app-id=r#"^chrome-lichess"#
    match app-id=r#"^chrome-monkeytype"#
    match app-id=r#"^chrome-tossinvest"#

    open-floating true
    default-column-width { proportion 0.7; }
    default-window-height { proportion 0.7; }

    focus-ring {
        width 2
        active-color "#cba6f7"
        inactive-color "#cba6f780"
    }
}
